<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Winery List</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OpenStreetMap with Search</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
    <link rel="stylesheet" href="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.css" />
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
    <script src="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.js"></script>

</head>
<body>
<div th:if="${user != null}">
    <p>Logged in as: <span th:text="${user.name}"></span> <span th:text="${user.surname}"></span></p>
    <a th:href="@{/logout}">Log out</a>
</div>
<div th:if="${user == null}">
    <a th:href="@{/login}">Login</a>
</div>
<div th:if="${lastViewedWineries != null}">
    <h2>Last Viewed Wineries</h2>
    <ul>
        <li th:each="lastViewedWinery : ${lastViewedWineries}">
            <a th:href="@{/wine/winery-details/{id}(id=${lastViewedWinery.id})}">
                <span th:text="${lastViewedWinery.name}"></span>
            </a>
        </li>
    </ul>
</div>
<h2>Top 5 Wineries</h2>
<h4>(With most reviews)</h4>
<ul>
    <li th:each="top5Winery : ${top5Wineries}">
        <a th:href="@{/wine/winery-details/{id}(id=${top5Winery.id})}">
            <span th:text="${top5Winery.name}"></span>
        </a>
    </li>
</ul>

<h2>Wineries</h2>
<form th:action="@{/wine/home}" method="get">
    <label for="city">Enter city:</label>
    <input type="text" id="city" name="city">
    <label for="name">Enter name:</label>
    <input type="text" id="name" name="name" >
    <label for="sortByRating">Sort by Rating:</label>
    <input type="checkbox" id="sortByRating" name="sortByRating" />
    <button type="submit">Search</button>
</form>
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Mobile Phone</th>
        <th>Additional Phone</th>
        <th>Address</th>
        <th>City</th>
        <th>Email</th>
        <th>Website</th>
        <th>Yellow Pages Link</th>
        <th>Catalog Link</th>
        <th>Facebook Link</th>
        <th>Instagram Link</th>
        <th>Logo URL</th>
        <th>Rating</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="winery : ${wineries}">
        <td th:text="${winery.id}"></td>
        <td>
            <a th:href="@{/wine/winery-details/{id}(id=${winery.id})}">
                <button type="button" style="cursor: pointer; border: none; background-color: white; color: black;">
                    <span th:text="${winery.name}"></span>
                </button>
            </a>
        </td>
        <td th:text="${winery.mobile_phone}"></td>
        <td th:text="${winery.additional_phone}"></td>
        <td th:text="${winery.address}"></td>
        <td th:text="${winery.city}"></td>
        <td th:text="${winery.email}"></td>
        <td th:text="${winery.website}"></td>
        <td th:text="${winery.yellowpages_link}"></td>
        <td th:text="${winery.catalog_link}"></td>
        <td th:text="${winery.facebook_link}"></td>
        <td th:text="${winery.instagram_link}"></td>
        <td th:text="${winery.logo_url}"></td>
        <td th:text="${winery.rating}"></td>
    </tr>
    </tbody>
</table>
<br/>


<div id="map" style="height: 400px;"></div>

<script>
    var defaultCoordinates = [41.6086, 21.7453]; // Coordinates for North Macedonia

    // Initialize the map with default coordinates
    var map = L.map('map').setView(defaultCoordinates, 7);

    // Add the OpenStreetMap tile layer with attribution
    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        attribution: '© OpenStreetMap contributors'
    }).addTo(map);

    // Add the search bar using leaflet-control-geocoder
    var searchControl = L.Control.geocoder({
        defaultMarkGeocode: false
    }).on('markgeocode', function (e) {
        var bbox = e.geocode.bbox;
        var poly = L.polygon([
            bbox.getSouthEast(),
            bbox.getNorthEast(),
            bbox.getNorthWest(),
            bbox.getSouthWest()
        ]).addTo(map);
        map.fitBounds(poly.getBounds());
    }).addTo(map);
</script>

</body>
</html>
